@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply bg-primary text-white font-bold px-6 py-3 rounded-lg hover:bg-[#000066] transition;
  }
  .input {
    @apply w-full px-4 py-3 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-primary;
  }
  .card {
    @apply bg-white rounded-2xl shadow-xl p-8;
  }
  .nav {
    @apply bg-primary text-white p-6 shadow-lg;
  }
}